*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header{
    background-color: aqua;
    width: 100%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    background-color: goldenrod;
}

.link{
    width: 45%;
    background-color: goldenrod;
}

.login{
    background-color: goldenrod;
}

ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

li{
    text-align: center;
    height: 20px;

}

/* MAIN PRIMA RIGA */



.container{
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(18, 18, 60);
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.col-main{
    width: 50%;
    height: 300px;
    background-color: palevioletred;
 
}

/* MAIN SECONDA RIGA */

.container-two{
    max-width: 55%;
    margin: 0 auto;
}

.row-two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.col-big{
    width: 65%;
    background-color: lightskyblue;
    height: 400px;
}

.col-small{
    width: 35%;
    background-color: pink;
    height: 400px;
}


/* MAIN TERZA RIGA */


.container-three{
    max-width: 100%;
    margin: 0 auto;
    background-color: lightgray;
}

.row-three{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 500px;
}

.col-big-inverse{
    width: 65%;
    background-color: lightskyblue;
    height: 400px;
}

.col-small-inverse{
    width: 35%;
    background-color: pink;
    height: 400px;
}

/* MAIN QUINTA RIGA */

.container-five{
    max-width: 100%;
    margin: 0 auto;
    background-color: lightgray;
}

.row-five{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
}

.col-main-five{
    width: 55%;
    height: 500px;
    background-color: green;
}
