*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */


header{
    background-color: aqua;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    width: 75%;
    margin: 0 auto;

}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-25{
    height: 40px;
    width: 25%;
    background-color: goldenrod;
    border: 1px solid black;
}

.col-50{
    height: 40px;
    width: 50%;
    background-color: goldenrod;
    border: 1px solid black;
}


ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

li{
    text-align: center;
    height: 20px;
}


/* MAIN PRIMA RIGA */


.bg-blue{
    background-color: rgb(30, 30, 79);
}

.container-sm{
    width: 60%;
    margin: 0 auto;
}

.padding-20{
    padding: 20px;
}


.col-main{
    width: 60%;
    height: 350px;
    background-color: palevioletred;

}


/* MAIN SECONDA RIGA */


.col-big{
    width: 65%;
    background-color: lightskyblue;
    height: 400px;
}

.col-small{
    width: 35%;
    background-color: pink;
    height: 400px;
}


/* MAIN TERZA RIGA */

.bg-gray{
    background-color: lightgray;
}

/* MAIN QUINTA RIGA */

.bg-lightgray{
    background-color: lightgray;
}


.col-main-five{
    width: 100%;
    height: 500px;
    background-color: green;
}


/* footer */


footer{
    background-color: rgba(0, 0, 0, 0.875);
}


.col-footer-main{
    height: 350px;
    background-color: rgb(248, 89, 115);
    border: 1px solid white;
    margin-top: 10px;
    flex-grow: 2;
}

.col-footer{
    height: 350px;
    background-color: rgb(174, 169, 169);
    border: 1px solid white;
    margin-top: 10px;
    flex-grow: 1;
}

.hr-1{
    border: 0.5px solid white;
    margin-top: 40px;
   
    width: 100%
}

.bg-beige{
    background-color: beige;
    
}
.row-footer{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
}
.logo-end{  
    background-color: gray;
    padding: 7px 10px 7px 10px;
}

.button{
    background-color: gray;
    padding: 7px 10px 7px 10px;
}
